//output:index.html
<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  //FONT AWESOME
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  //MATERIALIZE CSS
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
  //CUSTOM CSS
  link(rel="stylesheet", href="assets/css/style.css")
  title Post-It
body
  
  
  
  
  
  
  
  //MATERIALIZE JS
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
  //JAVASCRIPT
  script(src='assets/js/app.js')
