button{
  cursor:pointer;
}
/*
.modal {
  background-color: white;
}

#myBtn {
  position: absolute;
  top: 700px;
  left: 600px;
  width: 260px;
  background-color: #ff0066;
  height: 40px;
  text-align: center;
}

#myModal {
  height: 400px;
  width: 300px;
  
}

#display {
  background-color: white;
  width: 350px;
  height: 250px;
  padding: 10px;
  border-radius: 4px;
}

*/

body {
  background-color: #ffcdd2; }

.background_red {
  background-color: #e57373; }

.background_blue {
  background-color: #64b5f6; }

.background_green {
  background-color: #81c784; }

.text_blue {
  color: #64b5f6; }

.background-clear {
  background-color: transparent; }

.gradient_green {
  background: linear-gradient(135deg, #81c784 81%, #81c784 82%, #81c784 82%, #c8e6c9 100%);
  border-top: 60px solid #66bb6a; }

.gradient_purple {
  background: linear-gradient(135deg, #b39ddb 81%, #b39ddb 82%, #b39ddb 82%, #d1c4e9 100%);
  border-top: 60px solid #9575cd; }

.gradient_orange {
  background: linear-gradient(135deg, #ffb74d 81%, #ffb74d 82%, #ffb74d 82%, #ffe0b2 100%);
  border-top: 60px solid #ffa726; }

.gradient_yellow {
  background: linear-gradient(135deg, #fff59d 81%, #fff59d 82%, #fff59d 82%, #fff9c4 100%);
  border-top: 60px solid #fff176; }

.rotate-left {
  transform: rotate(-7deg); }

.rotate-right {
  transform: rotate(7deg); }

.fixed_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0; }

.fixed_right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh; }

#post_button {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  left: 30px; }

#leaderboard_show {
  cursor: pointer;
  position: fixed;
  bottom: 45%;
  right: -40px; }

#leaderboard_slide_out {
  cursor: pointer;
  position: absolute;
  left: -45px;
  bottom: 45%; }

.round_button {
  border-radius: 50%; }

.close-button {
  position: absolute;
  top: 20px;
  cursor: pointer; }

.postit {
  font-family: 'Amatic SC', sans-serif;
  line-height: 1;
  text-align: center;
  width: 200px;
  margin: 10px;
  min-height: 175px;
  max-height: 175px;
  padding: 5px 10px;
  position: relative;
  border: 1px solid #E8E8E8;
  font-size: 24px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  font-weight: bold;
<<<<<<< HEAD
=======
  box-shadow: 10px 10px 5px #888888;
>>>>>>> 4038ca4726849d1a729670c0bef1067caa824bff

   }
